// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

  font: 100% Helvetica, sans-serif;
  color: #3336;
  text-align: center;
  padding-top: 250px;
  font-size: 30px;
}

input textarea{
	border-radius: 3px;
	height: 10px;

}
